.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100%;  
  }

.center-content mat-card {
    width: 450px; 
    height: 500px;
}

mat-slide-toggle {
  margin-top: -15px;
  margin-bottom: 30px;
  display: block;
}